*
{
    padding: 0;
    margin: 0;
}

body
{
    background-color: white;
}

ul,li
{
    display: flex;
    margin-left: 40px;
}

ul
{
    margin-left: 55%;
}

li
{
    color:  whitesmoke;
    font-size: 20px;
}
a
{
    text-decoration: none; 
    color: black;  
}



ul:hover
{
    color: black;
}

header
{
    background-image: radial-gradient(circle, #5c0067 0%, #00d4ff 100%);
    padding: 40px;
    position: fixed;
    width: 100%;
    z-index: 100;
}

.logo
{
    margin-left: -210%;
    margin-top: -5%;
}

.brand
{
    color: radial-gradient(circle, #5c0067 0%, #00d4ff 100%);
    margin-top: -35px;
    margin-left: 10px;
}

.airjordan
{
    margin-left: 45%;
}

.airrow1,.airrow2,.airrow3,.airrow4,.airrow5,.airrow6
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.air1,.air2,.air3,.air4,.air5,.air6,.air7,.air8,.air9,.air10,.air11,.air12,.air13,.air14,.air15,.air16,.air17,.air18,.air19,.air20,.air21,.air22,.air23,.air24
{
    border: 2px solid black;
    width: 250px;
    height: 300px;
}

@media screen and (max-width:450px) 
{
        .logo
    {
        margin-left: -365px; 
        margin-top: -12%;
    }

    .brand
    {
        font-size: 12px;
        margin-left: 10px;
    }
    
    ul,li
    {
        display: flex;
        margin-left: 20px;
    }
    
    ul
    {
        margin-left: 15%;
    }
    
    li
    {
        color:  whitesmoke;
        font-size: 10px;
    }

    .airrow1,.airrow2,.airrow3,.airrow4,.airrow5,.airrow6
    {
        margin-left: 20%;
    }

    .air2,.air3,.air4,.air5,.air6,.air7,.air8,.air9,.air10,.air11,.air12,.air13,.air14,.air15,.air16,.air17,.air18,.air19,.air20,.air21,.air22,.air23,.air24
    {
        margin-top: 10%;
    }

    .airjordan
    {
        margin-left: 35%;
    }

    }