*,
*::before,
*::after 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: black;
}

body
{
    font-family: "Lato", sans-serif;
    background-color: WHITE;
    justify-content: center;
    align-items: center;
}

.wrapper 
{
    width: 100%;
    z-index: 100;
    padding: 20px;
    background-image: linear-gradient(to right, rgb(199, 32, 199) , aqua);
    position: fixed;
}

nav 
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    border-radius: 0.4rem;
}

nav .logo 
{
    font-weight: 700;
}

nav ul 
{
    list-style: none;
    display: flex;
    gap: 2rem;
}

nav a 
{
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    font-weight: 900;
}

.show
{
    color: white;
    padding: 0.5rem;
    position: relative;
}

.show::before
{
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background: white;
    border-radius: 5px;
    transition: all .5s ease;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
}

.show:hover::before
{
    transform: scaleX(1);
}

nav #toggle,
nav label 
{
    display: none;
}

.brand h1
{
    margin-left: -330px;
}

.contact
{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;    
}

.contact .content
{
    max-width: 800px;
    text-align: center;
}

.contact .content h2
{
    font-size: 36px;
    font-weight: 500;
    color: black;
}

.contact .content p
{
    font-weight: 300;
    color: black;
}

.container
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.container .containerinfo
{
    width: 50%;
    margin-left: 40%;
    display: flex;
    flex-direction: column;
}

.container .containerinfo .box
{
    position: relative;
    padding: 20px 0;
    display: flex;
}

.container .containerinfo .box .icon
{
    min-width: 60px;
    height: 60px;
    display: flex;
    background: white;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}

.container .containerinfo .box .text
{
    margin-left: 20px;
    font-size: 16px;
    display: flex;
    color: white;
    flex-direction: column;
    font-weight: 300;
}

.container .containerinfo .box .text h3
{
    font-weight: 500;
    color: aqua;
}

.contactform
{
    width: 40%;
    padding: 40px;
    margin-left: 35%;
    background:white;
}

.contactform h2
{
    font-size: 30px;
    color: black;
    font-weight: 500;
}

.contactform .inputbox
{
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.contactform .inputbox input,
.contactform .inputbox textarea
{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid black;
    outline: none;
    resize: none;
}

.contactform .inputbox span
{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: black;
}

.contactform .inputbox input:focus ~ span,
.contactform .inputbox input:valid ~ span,
.contactform .inputbox textarea:focus ~ span,
.contactform .inputbox textarea:valid ~ span
{
    color: aqua;
    font-size: 12px;
    transform: translateY(-20px);
}

.send
{
    background-image: linear-gradient(to right, #24C6DC 0%, #514A9D  51%, #24C6DC  100%)
}

.send 
{
   width: 200px;
   margin-left: 30%;
   margin-top: 25px;
   padding: 15px 45px;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   box-shadow: 0 0 20px #eee;
   border-radius: 10px;
   color: white;
   display: block;
}

.send:hover 
{
   background-position: right center; 
   text-decoration: none;
}

@media (max-width: 40.625em) 
{
    nav .menu 
    {
      width: 100%;
      height: 0;
      overflow: hidden;
    }

    nav ul 
    {
      flex-direction: column;
      align-items: center;
      padding: 0.5rem 0;
    }

    nav label 
    {
      display: inline-flex;
      color: white;
      cursor: pointer;
    }

    nav #toggle:checked ~ .menu 
    {
      height: 100%;
    }

    .brand h1
    {
        position: relative;
        z-index: 1000;
        font-weight: 1000;
        margin-left: 50%;
    }

}

@media screen and (min-width: 500px) and (max-width:1100px) 
{
    body
    {
        margin-bottom: 100px;
    }

    .brand h1
    {
        position: relative;
        z-index: 1000;
        font-weight: 1000;
        margin-left: -85px;
    }

    .contact
    {
        padding: 50px;
    }

    .content
    {
        margin-top: -50%;
    }

    .container .contactinfo
    {
        margin-bottom: 40px;
    }

    .container .contactinfo ,.contactform
    {
        width: 100%;
    }

   
}

@media screen and (max-width:500px) 
{
    body
    {
        margin-bottom: 250px;
    }

    .content
    {
        width: 400px;
        margin-top: 35%;
    }

    .container
    {
        flex-direction: column;
    }

    .contactform
    {
        width: 350px;
        margin-left: -15%;
    }

    .brand h1 
    {
        margin-left: -20px;
    }

}