*
{
    padding: 0;
    margin: 0;
}

body
{
    background-color: white;
}

ul,li
{
    display: flex;
    margin-left: 40px;
}

ul
{
    margin-left: 55%;
}

li
{
    color:  whitesmoke;
    font-size: 20px;
}
a
{
    text-decoration: none; 
    color: black;  
}



ul:hover
{
    color: black;
}

header
{
    background-image: radial-gradient(circle, #5c0067 0%, #00d4ff 100%);
    padding: 40px;
    position: fixed;
    width: 100%;
    z-index: 100;
}

.logo
{
    margin-left: -210%;
    margin-top: -5%;
}

.brand
{
    color: radial-gradient(circle, #5c0067 0%, #00d4ff 100%);
    margin-top: -35px;
    margin-left: 10px;
}

u
{
    color: aliceblue;
}

.formalrow1,.formalrow2,.formalrow3,.formalrow4,.formalrow5
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.formal1,.formal2,.formal3,.formal4,.formal5,.formal6,.formal7,.formal8,.formal9,.formal10,.formal11,.formal12,.formal13,.formal14,.formal15,.formal16,.formal17,.formal18,.formal19,.formal20
{
    border: 2px solid black;
    width: 250px;
    height: 300px;
}

@media screen and (max-width:450px) 
{

    .logo
    {
        margin-left: -380px; 
        margin-top: -10%;
    }

    .brand
    {
        font-size: 12px;
        margin-left: 10px;
    }
    
    ul,li
    {
        display: flex;
        margin-left: 10px;
    }

    ul
    {
        margin-left: 12%;
    }

    li
    {
        color:  whitesmoke;
        font-size: 15px;
    }

    .formalrow1,.formalrow2,.formalrow3,.formalrow4,.formalrow5
    {
      margin-left:20%;
    }

    .formal2,.formal3,.formal4,.formal5,.formal6,.formal7,.formal8,.formal9,.formal10,.formal11,.formal12,.formal13,.formal14,.formal15,.formal16,.formal17,.formal18,.formal19,.formal20
    {
         margin-top: 10%;
    }


}