*,
*::before,
*::after 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body
{
    font-family: "Lato", sans-serif;
    background-color: WHITE;
    justify-content: center;
    align-items: center;
}

.wrapper 
{
    width: 100%;
    padding: 20px;
    background-image: linear-gradient(to right, rgb(199, 32, 199) , aqua);
    position: fixed;
}

nav 
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    border-radius: 0.4rem;
}

nav .logo 
{
    font-weight: 700;
}

nav ul 
{
    list-style: none;
    display: flex;
    gap: 2rem;
}

nav a 
{
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}

nav #toggle,
nav label 
{
    display: none;
}

.brand h1
{
    margin-left: -450px;
}

.nike
{
    margin-left: 45%;
}

.nikeshoes
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.nikeshoe1
{
    border: 2px solid black;
    width: 273px;
    height: 300px;
    color: black;
}
 
.nikeshoe2
{ 
    border: 2px solid black;
    width: 273px;
    height: 300px;
    color: black;
}

.nikeshoe3
{
    border: 2px solid black;
    width: 273px;
    height: 300px;
    color: black;
}

.nikeshoe4
{  
    border: 2px solid black;
    width: 273px;
    height: 300px;
    color: black;
}

.usuf
{
    background-image: linear-gradient(to right, #24C6DC 0%, #514A9D  51%, #24C6DC  100%)
}

.usuf 
{
   width: 200px;
   margin-left: 85%;
   margin-top: 25px;
   padding: 15px 45px;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   box-shadow: 0 0 20px #eee;
   border-radius: 10px;
   display: block;
}

.usuf:hover 
{
   background-position: right center; 
   color: #fff;
   text-decoration: none;
}


.puma
{
    margin-left: 45%;
}

.pumashoes
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
    
.pumashoe1
{
    border: 2px solid black;
    width: 254px;
    height: 320px;
    color: black;
}

.pumashoe2
{
    border: 2px solid black;
    width: 254px;
    height: 320px; 
    color: black;
}

.pumashoe3
{
    border: 2px solid black;
    width: 254px;
    height: 320px; 
    color: black;
}

.pumashoe4
{
    border: 2px solid black;
    width: 254px;
    height: 320px; 
    color: black;
}

.adidas
{
    margin-left: 45%;
}

.adidasshoes
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.adidasshoe1
{
    border: 2px solid black;
    width: 250px;
    height: 290px; 
    color: black;
}

.adidasshoe2
{
    border: 2px solid black;
    width: 250px;
    height:  290px; 
    color: black;
}

.adidasshoe3
{
    border: 2px solid black;
    width: 250px;
    height: 290px; 
    color: black;
}

.adidasshoe4
{
    border: 2px solid black;
    width: 250px;
    height: 290px; 
    color: black;
}

.airjordan
{
    margin-left: 45%;
}

.airjordanshoes
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.airjordanshoe1
{
    border: 2px solid black;
    width: 254px;
    height: 290px; 
    color: black;
}

.airjordanshoe2
{
    border: 2px solid black;
    width: 253px;
    height: 290px; 
    color: black;
}

.airjordanshoe3
{
    border: 2px solid black;
    width: 253px;
    height: 290px; 
    color: black;
}

.airjordanshoe4
{
    border: 2px solid black;
    width: 253px;
    height: 290px; 
    color: black;
}

.reebok
{
    margin-left: 45%; 
}

.reebokshoes
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.reebokshoe1
{
    border: 2px solid black;
    width: 254px;
    height: 290px; 
    color: black;
}

.reebokshoe2
{
    border: 2px solid black;
    width: 254px;
    height: 290px; 
    color: black;
}

.reebokshoe3
{
    border: 2px solid black;
    width: 254px;
    height: 290px; 
    color: black;
}

.reebokshoe4
{
    border: 2px solid black;
    width: 254px;
    height: 290px; 
    color: black;
}

@media (max-width: 40.625em) 
{
    nav .menu 
    {
      width: 100%;
      height: 0;
      overflow: hidden;
    }

    nav ul 
    {
      flex-direction: column;
      align-items: center;
      padding: 0.5rem 0;
    }

    nav label 
    {
      display: inline-flex;
      color: white;
      cursor: pointer;
    }

    nav #toggle:checked ~ .menu 
    {
      height: 100%;
    }

    .brand h1
    {
        position: relative;
        z-index: 1000;
        font-weight: 1000;
        margin-left: 0px;
    }

}
 

@media screen and (max-width:500px) 
{
    
    .usuf
    {
        background-image: linear-gradient(to right, #24C6DC 0%, #514A9D  51%, #24C6DC  100%)
    }
    
    .usuf 
    {
       width: 400px;
       margin-left: 5px;
       padding: 15px 45px;
       text-align: center;
       text-transform: uppercase;
       transition: 0.5s;
       background-size: 200% auto;
       color: white;            
       box-shadow: 0 0 20px #eee;
       border-radius: 10px;
       display: block;
    }
    
    .usuf:hover 
    {
       background-position: right center; 
       color: #fff;
       text-decoration: none;
    }

    .nikeshoes
    {
        margin-left: 20%;
        justify-content: space-between;
    }

    .nikeshoe2
    {
        margin-top: 10%;
    }

    .nikeshoe3
    {
        margin-top: 10%;
    }

    .nikeshoe4
    {
        margin-top: 10%;
    }

    .nike
    {
        margin-left: 35%;
    }

    .puma
    {
        margin-left: 35%;
    }

    .pumashoes
    {
        justify-content: space-between;
        margin-left: 20%;
    }
        
    .pumashoe1
    {
        margin-top: 10%;
    }

    .pumashoe2
    {
        margin-top: 10%;
    }

    .pumashoe3
    {
        margin-top: 10%;
    }

    .pumashoe4
    {
        margin-top: 10%;
    }

    .adidas
    {
        margin-left: 35%;
    }

    .adidasshoes
    {
        justify-content: space-between;
        margin-left: 20%; 
    }

    .adidasshoe1
    {
        margin-top: 10%;
    }

    .adidasshoe2
    {
        margin-top: 10%;
    }

    .adidasshoe3
    {
        margin-top: 10%;
    }

    .adidasshoe4
    {
        margin-top: 10%;
    }

    .airjordan
    {
        margin-left: 35%;
    }

    .airjordanshoes
    {
        justify-content: space-between;
        margin-left: 20%;   
    }

    .airjordanshoe1
    {
        margin-top: 10%;
    }

    .airjordanshoe2
    {
        margin-top: 10%;
    }

    .airjordanshoe3
    {
        margin-top: 10%;
    }

    .airjordanshoe4
    {
        margin-top: 10%;
    }

    .reebok
    {
        margin-left: 35%; 
    }

    .reebokshoes
    {
        justify-content: space-between;
        margin-left: 20%;
    }

    .reebokshoe1
    {
        margin-top: 10%;
    }

    .reebokshoe2
    {
        margin-top: 10%;
    }

    .reebokshoe3
    {
        margin-top: 10%;
    }

    .reebokshoe4
    {
        margin-top: 10%;
    }

}