*
{
    padding: 0;
    margin: 0;
}

body
{
    background-color: white;
}

ul,li
{
    display: flex;
    margin-left: 50px;
}

ul
{
    margin-left: 55%;
}

li
{
    color:  whitesmoke;
    font-size: 20px;
}

a
{
    text-decoration: none; 
    color: black;  
}

ul:hover
{
    color: black;
}

header
{
    background-image: radial-gradient(circle, #5c0067 0%, #00d4ff 100%);
    padding: 40px;
    position: fixed;
    width: 100%;
    z-index: 100;
}

.logo
{
    margin-left: -215%;
    margin-top: -5%;
}

.brand
{
    margin-top: -35px;
    margin-left: 10px;
}

.line
{
    width: 1px;
    height: 1200px;
    background-color: #000000;
    margin-left: 50%;
    margin-top: -40%;
}

.name
{
    margin-left: 52%;
    margin-top:-30%;
}

.lorem
{
    width: 550px;
    height: 300px;
    margin-left: 53%;
    margin-top: -40%;
}

.button1
{ 
    font-size: 25px;
    margin-left: 62%;
    margin-top: 2%;
    border: 1px solid black;
    border-radius: 10px ;
    padding: 4.5px;
    margin-right: 30%;
}

.button1:hover
{
     
    background-color:lime;
    border-color: lime;
}

a
{
    text-decoration: none;
    color: black;
}

a:hover
{
    color: whitesmoke;
}

.button2
{ 
    font-size: 25px;
    margin-left: 75%;
    margin-top: -2.5%;
    border: 1px solid black;
    border-radius: 10px ;
    padding: 4.5px;
    margin-right: 14%;
}

.button2:hover
{
     
    background-color:yellow;
    border-color: yellow;
}

.loafers
{
    display: flex;
    margin-left: 52%;
    justify-content: space-between;
    margin-top: 5%;
}

.loafer20
{
    width: 700px;
    margin-top: 100px;
}

.loafer1
{
    border: 2px solid black;
    padding: 4px;
}

.loafer2
{
    border: 2px solid black;
    padding: 4px;
}

.loafer3
{
    border: 2px solid black;
    padding: 4px;
}


@media screen and (max-width:450px) 
{
    
    .logo
    {
        margin-left: -370px;
        margin-top: -37px;
    }

    .brand
    {
        font-size: 12px;
        margin-left: 10px;
    }
    
    ul,li
    {
        display: flex;
        margin-left: 10px;
    }

    ul
    {
        margin-left: 10%;
    }

    li
    {
        color:  whitesmoke;
        font-size: 15px;
    }

    .name
    {
        font-size: 20px;
        margin-left: 12%;
        margin-top: 7%;
    }

    .line
    {
        display: none;
    }

    .lorem
    {
        margin-top: 10px;
        margin-left: 50px;
        width: 295px;
        text-align: justify;
    }


    .loafer20
    {
        width: 450px;
        height: 350px;
    }

    .button1
    {
        font-size: 15px;
        margin-left: 25%;
        margin-top: 19%;
        border: 1px solid black;
        border-radius: 10px ;
        padding: 4.5px;
        width: 70px;
    }

    .button2
    {
        font-size: 15px;
        margin-left: 50%;
        margin-top: -7.5%;
        border: 1px solid black;
        border-radius: 10px ;
        padding: 4.5px;
        width: 97px;
    }

    .loafer1
    {
       display: none;
    }

    .loafer2
    {
        margin-top: 80px;
        margin-left: -190px;

    }

    .loafer3
    {
        margin-top: 80px;
        height: 110px;
        margin-left: -800px;
    }

    .loafers
    {
        margin-bottom: 150px;
    }

}