*,
*::before,
*::after 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body
{
    font-family: "Lato", sans-serif;
    background-color: WHITE;
    justify-content: center;
    align-items: center;
}

.wrapper 
{
    width: 100%;
    padding: 20px;
    background-image: linear-gradient(to right, rgb(199, 32, 199) , aqua);
    position: fixed;
}

nav 
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    border-radius: 0.4rem;
}

nav .logo 
{
    font-weight: 700;
}

nav ul 
{
    list-style: none;
    display: flex;
    gap: 2rem;
}

nav a 
{
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}

nav #toggle,
nav label 
{
    display: none;
}

.brand h1
{
    margin-left: -450px;
}

.puma
{
    margin-left: 45%;
}

.pumarow1,.pumarow2,.pumarow3,.pumarow4,.pumarow5,.pumarow6,.pumarow7
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.puma1,.puma2,.puma3,.puma4,.puma5,.puma6,.puma7,.puma8,.puma9,.puma10,.puma11,.puma12,.puma13,.puma14,.puma15,.puma16,.puma17,.puma18,.puma19,.puma20,.puma21,.puma22,.puma23,.puma24,.puma25,.puma26,.puma27,.puma28
{
    border: 2px solid black;
    width: 254px;
    height: 300px;
    color: black;
}

@media (max-width: 40.625em) 
{
    nav .menu 
    {
      width: 100%;
      height: 0;
      overflow: hidden;
    }

    nav ul 
    {
      flex-direction: column;
      align-items: center;
      padding: 0.5rem 0;
    }

    nav label 
    {
      display: inline-flex;
      color: white;
      cursor: pointer;
    }

    nav #toggle:checked ~ .menu 
    {
      height: 100%;
    }

    .brand h1
    {
        position: relative;
        z-index: 1000;
        font-weight: 1000;
        margin-left: 0px;
    }

}

@media screen and (max-width:500px) 
{
    .puma
    {
        margin-left: 35%;
    }

    .pumarow1,.pumarow2,.pumarow3,.pumarow4,.pumarow5,.pumarow6,.pumarow7
    {
        justify-content: space-between;
        margin-left: 20%;
    }

    .puma2,.puma3,.puma4,.puma5,.puma6,.puma7,.puma8,.puma9,.puma10,.puma11,.puma12,.puma13,.puma14,.puma15,.puma16,.puma17,.puma18,.puma19,.puma20,.puma21,.puma22,.puma23,.puma24,.puma25,.puma26,.puma27,.puma28
    {
         margin-top: 10%;
    }

}

@media screen and (min-width: 500px) and (max-width:1100px) 
{ 
    .brand h1
    {
        position: relative;
        z-index: 1000;
        font-weight: 1000;
        margin-left: -190px;
    }

    body
    {
       margin-bottom: 550px;
    }

    .puma2,.puma4,.puma6,.puma8,.puma10,.puma12,.puma14,.puma16,.puma18,.puma20,.puma22,.puma24,.puma26,.puma28
    {
        margin-right: 200px;
        margin-left: 100px;
        margin-bottom: 100px;
    }

    .puma1,.puma3,.puma5,.puma7,.puma9,.puma11,.puma13,.puma15,.puma17,.puma19,.puma21,.puma23,.puma25,.puma27
    {
        margin-left: 160px;
        margin-bottom: 100px;
    }
}