*,
*::before,
*::after 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body
{
    font-family: "Lato", sans-serif;
    background-color: WHITE;
    justify-content: center;
    align-items: center;
}

.wrapper 
{
    width: 100%;
    padding: 20px;
    background-image: linear-gradient(to right, rgb(199, 32, 199) , aqua);
    position: fixed;
}

nav 
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    border-radius: 0.4rem;
}

nav .logo 
{
    font-weight: 700;
}

nav ul 
{
    list-style: none;
    display: flex;
    gap: 2rem;
}

nav a 
{
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}

nav #toggle,
nav label 
{
    display: none;
}

.brand h1
{
    margin-left: -450px;
}

.reebok
{
    margin-left: 45%;
}

.reerow1,.reerow2,.reerow3,.reerow4,.reerow5,.reerow6
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.ree1,.ree2,.ree3,.ree4,.ree5,.ree6,.ree7,.ree8,.ree9,.ree10,.ree11,.ree12,.ree13,.ree14,.ree15,.ree16,.ree17,.ree18,.ree19,.ree20,.ree21,.ree22,.ree23,.ree24
{
    border: 2px solid black;
    width: 254px;
    height: 300px;
    color: black;
}

@media (max-width: 40.625em) 
{
    nav .menu 
    {
      width: 100%;
      height: 0;
      overflow: hidden;
    }

    nav ul 
    {
      flex-direction: column;
      align-items: center;
      padding: 0.5rem 0;
    }

    nav label 
    {
      display: inline-flex;
      color: white;
      cursor: pointer;
    }

    nav #toggle:checked ~ .menu 
    {
      height: 100%;
    }

    .brand h1
    {
        position: relative;
        z-index: 1000;
        font-weight: 1000;
        margin-left: 0px;
    }

}
 

@media screen and (max-width:450px) 
{
    .reerow1,.reerow2,.reerow3,.reerow4,.reerow5,.reerow6
    {
        margin-left: 20%;
        justify-content: space-between;
    }

    .ree2,.ree3,.ree4,.ree5,.ree6,.ree7,.ree8,.ree9,.ree10,.ree11,.ree12,.ree13,.ree14,.ree15,.ree16,.ree17,.ree18,.ree19,.ree20,.ree21,.ree22,.ree23,.ree24
    {
        margin-top: 10%;
    }

    .reebok
    {
        margin-left: 35%;
    }

}
