*,
*::before,
*::after 
{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   text-decoration: none;
}

body
{
   font-family: "Lato", sans-serif;
   background-color: WHITE;
   justify-content: center;
   align-items: center;
}

.wrapper 
{
   width: 100%;
   padding: 20px;
   background-image: linear-gradient(to right, rgb(199, 32, 199) , aqua);
   position: fixed;
}


nav 
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    border-radius: 0.4rem;
}

nav .logo 
{
    font-weight: 700;
}

nav ul 
{
    list-style: none;
    display: flex;
    gap: 2rem;
}

nav a 
{
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}

nav #toggle,
nav label 
{
    display: none;
}

.brand h1
{
    margin-left: -450px;
}
  
.sneakersrow1
 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
 }

 .sneaker1
 {
    border: 2px solid black;
    width: 254px;
    height: 300px;
    color: black;
 }

 .sneaker2
 {
    border: 2px solid black;
    width: 253px;
    color: black;
    height: 300px;
 }

 .sneaker3
 {
    border: 2px solid black;
    width: 253px;
    color: black;
    height: 300px;
 }

 .sneaker4
 {
    border: 2px solid black;
    width: 253px;
    color: black;
    height: 300px;
 }

 .sneakersrow2
 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
 }

 .sneaker5
 {
    border: 2px solid black;
    width: 254px;
    color: black;
    height: 300px;
 }

 .sneaker6
 {
    border: 2px solid black;
    width: 254px;
    height: 300px;
    color: black;
 }

 .sneaker7
 {
    border: 2px solid black;
    width: 253px;
    color: black;
    height: 300px;
 }

 .sneaker8
 {
    border: 2px solid black;
    width: 253px;
    color: black;
    height: 300px;
 }

 .sneakersrow3
 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
 }

 
 .sneaker9
 {
    border: 2px solid black;
    width: 253px;
    color: black;
    height: 300px;
 }

 .sneaker10
 {
    border: 2px solid black;
    width: 253px;
    color: black;
    height: 300px;
 }

 .sneaker11
 {
    border: 2px solid black;
    width: 253px;
    color: black;
    height: 300px;
 }

 .sneaker12
 {
    border: 2px solid black;
    width: 253px;
    color: black;
    height: 300px;
 }

 .sneakersrow4
 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
 }

 .sneaker13
 {
    border: 2px solid black;
    width: 253px;
    color: black;
    height: 300px;
 }

 .sneaker14
 {
    border: 2px solid black;
    width: 253px;
    color: black;
    height: 300px;
 }

 .sneaker15
 {
    border: 2px solid black;
    width: 253px;
    height: 300px;
    color: black;
 }

 .sneaker16
 {
    border: 2px solid black;
    width: 250px;
    color: black;
    height: 300px;
 }

 .sneakersrow5
 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
 }
 
 .sneaker17
 {
    border: 2px solid black;
    width: 254px;
    color: black;
    height: 300px;
 }

 .sneaker18
 {
    border: 2px solid black;
    width: 254px;
    color: black;
    height: 300px;
 }

 .sneaker19
 {
    border: 2px solid black;
    width: 253px;
    color: black;
    height: 300px;
 }

 .sneaker20
 {
    border: 2px solid black;
    width: 250px;
    color: black;
    height: 300px;
 }

 @media (max-width: 40.625em) 
 {
   nav .menu 
   {
     width: 100%;
     height: 0;
     overflow: hidden;
   }

   nav ul 
   {
     flex-direction: column;
     align-items: center;
     padding: 0.5rem 0;
   }

   nav label 
   {
     display: inline-flex;
     color: white;
     cursor: pointer;
   }

   nav #toggle:checked ~ .menu 
   {
     height: 100%;
   }

   .brand h1
   {
       position: relative;
       z-index: 1000;
       font-weight: 1000;
       margin-left: 0px;
   }

 }


@media screen and (max-width:500px)
{
   
   .sneakersrow1,.sneakersrow2,.sneakersrow3,.sneakersrow4,.sneakersrow5
   {
      margin-left: 20%;
      justify-content: space-between;
   }

   .sneaker2
   {
      margin-top: 10%;
   }

   .sneaker3
   {
      margin-top: 10%;
   }

   .sneaker4
   {
      margin-top: 10%;
   }

   .sneaker5
   {
      margin-top: 10%;
   }

   .sneaker6
   {
      margin-top: 10%;
   }

   .sneaker7
   {
      margin-top: 10%;
   }

   .sneaker8
   {
      margin-top: 10%;
   }

   .sneaker9
   {
      margin-top: 10%;
   }

   .sneaker10
   {
      margin-top: 10%;
   }

   .sneaker11
   {
      margin-top: 10%;
   }

   .sneaker12
   {
      margin-top: 10%;
   }

   .sneaker13
   {
      margin-top: 10%;
   }

   .sneaker14
   {
      margin-top: 10%;
   }

   .sneaker15
   {
      margin-top: 10%;
   }

   .sneaker16
   {
      margin-top: 10%;
   }

   .sneaker17
   {
      margin-top: 10%;
   }

   .sneaker18
   {
      margin-top: 10%;
   }

   .sneaker19
   {
      margin-top: 10%;
   }

   .sneaker20
   {
      margin-top: 10%;
   }

}