*,
*::before,
*::after 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body
{
    font-family: "Lato", sans-serif;
    background-color: WHITE;
    justify-content: center;
    align-items: center;
}

.wrapper 
{
    width: 100%;
    padding: 20px;
    background-image: linear-gradient(to right, rgb(199, 32, 199) , aqua);
    position: fixed;
}

nav 
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    border-radius: 0.4rem;
}

nav .logo 
{
    font-weight: 700;
}

nav ul 
{
    list-style: none;
    display: flex;
    gap: 2rem;
}

nav a 
{
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}

nav #toggle,
nav label 
{
    display: none;
}

.brand h1
{
    margin-left: -450px;
}

.sportrow1,.sportrow2,.sportrow3,.sportrow4,.sportrow5
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.sport1,.sport2,.sport3,.sport4,.sport5,.sport6,.sport7,.sport8,.sport9,.sport10,.sport11,.sport12,.sport13,.sport14,.sport15,.sport16,.sport17,.sport18,.sport19,.sport20
{
    border: 2px solid black;
    width: 254px;
    height: 300px;
    color: black;
}

@media (max-width: 40.625em) 
{
    nav .menu 
    {
      width: 100%;
      height: 0;
      overflow: hidden;
    }

    nav ul 
    {
      flex-direction: column;
      align-items: center;
      padding: 0.5rem 0;
    }

    nav label 
    {
      display: inline-flex;
      color: white;
      cursor: pointer;
    }

    nav #toggle:checked ~ .menu 
    {
      height: 100%;
    }

    .brand h1
    {
        position: relative;
        z-index: 1000;
        font-weight: 1000;
        margin-left: 0px;
    }

}
 

@media screen and (max-width:450px) 
{
    .sportrow1,.sportrow2,.sportrow3,.sportrow4,.sportrow5
    {
        margin-left: 20%;
        justify-content: space-between;
    }

     .sport2,.sport3,.sport4,.sport5,.sport6,.sport7,.sport8,.sport9,.sport10,.sport11,.sport12,.sport13,.sport14,.sport15,.sport16,.sport17,.sport18,.sport19,.sport20
    {
        margin-top: 10%;
    }

}

@media screen and (min-width: 500px) and (max-width:1100px) 
{
   .brand h1
   {
        position: relative;
        z-index: 1000;
        font-weight: 1000;
        margin-left: -190px;
   }

    body
   {
        margin-bottom: 500px;
   }

   .sport2,.sport4,.sport6,.sport8,.sport10,.sport12,.sport14,.sport16,.sport18,.sport20
   {
        margin-right: 200px;
        margin-left: 100px;
        margin-bottom: 100px;
   }

   .sport1,.sport3,.sport5,.sport7,.sport9,.sport11,.sport13,.sport15,.sport17,.sport19
   {
        margin-left: 160px;
        margin-bottom: 100px;
   }

}